{:deps {:aliases [:dev]}
 :builds
 {:headless
  {:target :esm
   :runtime :node
   :output-dir "target/headless"
   :devtools {:autoload false}
   :modules
   {:penpot
    {:exports {buildAddBoardChange app.headless.core/build-add-board-change
               buildAddBoardBody   app.headless.core/build-add-board-body
               createSession       app.headless.session/create-session}}}
   :js-options {:entry-keys ["module" "browser" "main"]
                :export-conditions ["module" "import" "browser" "require" "default"]}
   :compiler-options {:output-feature-set :es2020
                      :output-wrapper false
                      :warnings {:fn-deprecated false}}}}}
